<div class="container">
    <div class="col-xs-12 text-center">
        {% set teams = [] %}
        {% for article in pagination %}
            {% if article.team not in teams %}
                {% set teams = teams|merge([article.team]) %}
                    <button class="btn btn-info btn-team">
                        <i class="glyphicon glyphicon-ok"></i>
                        <i class="glyphicon glyphicon-remove hidden"></i>
                        <span id="text">{{ article.team }}</span>
                    </button>
            {% endif %}
        {% endfor %}
    </div>
</div>