.video-js {
    width: 100%; !important;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    padding-top: 15px;
}

#views_label {
    float: right;
}

#edit_object, #delete_object{
    float: right;
    width: 100px;
    margin-left: 10px;
}

#storyError {
    margin-bottom: 10px;
    color: #ff593b;
}

.logged-in-user {
    border: none;
    color: lightgrey;
    padding-right: 15px;
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.center {
    text-align: center;
}

.btn-team {
    width: 300px;
    margin-bottom: 15px;
}

.table-odd-row {
    background-color: #F9F9F9;
}

.btn-medium {
    width: 200px;
}

.search-result-heading {
    color: #1b6d85;
}